<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="GarageIn" />
<meta title="GarageIn-Complete Car Care | Car Service & Repair in Delhi NCR">
<meta name="description" content="Book online car service & repair in Jaipur, Jodhpur. Find services at best prices with genuine spare parts, warranty on repairs near your location.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="car service, car repair, car cleaning,car service Jaipur, car service jaipur, car service jaipur">

<link href="css/gfont.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/swiper.min.css" type="text/css" />
<link rel="stylesheet" href="css/dark.min.css" type="text/css" />
<link rel="stylesheet" href="css/font-icons.min.css" type="text/css" />
<link rel="stylesheet" href="css/animate.min.css" type="text/css" />
<link rel="stylesheet" href="css/magnific-popup.min.css" type="text/css" />
<link rel="stylesheet" href="css/responsive.min.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/icofont.css" media="all" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all" />
<!-- Slicknav CSS -->
<link rel="stylesheet" type="text/css" href="css/slicknav.min.css">
<!-- Owl carousel CSS -->
<link rel="stylesheet" href="css/owl.carousel.min.css" type = "text/css">
<link rel="stylesheet" href="css/owl.theme.default.min.css" type = "text/css">
<!-- Popup CSS -->
<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
<!-- Vega CSS -->
<link rel="stylesheet" type="text/css" href="css/vegas.min.css">
<!-- Main style CSS -->
<link rel="stylesheet" type="text/css" href="css/style1.css" media="all" />
<!-- Responsive CSS -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" media="all" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
<!-- W3 css -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="icon" href="favicon.ico" />
<link rel="manifest" href="manifest.json">
<title>Garagein - Complete Car Care | Privacy Policy</title>
<link rel="stylesheet" href="css/components/select-boxes.min.css" type="text/css"></link>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <script type="text/javascript"> (function() { window.__insp = window.__insp || []; __insp.push(['wid', 1064490248]); var ldinsp = function(){ if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1064490248&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }; setTimeout(ldinsp, 0); })(); </script> -->
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
</head>
<body class="stretched">

<div id="wrapper" class="clearfix" ng-app="myApp">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header id="header" class="full-header">
<div id="header-wrap">
<div class="container clearfix">
<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

<div id="logo">
<a href="index.html" class="standard-logo" data-dark-logo="https://www.GarageIn.com/images/logo-dark.png"><img src="images/logo.png" alt="Garagein Logo"></a>
<a href="index.html" class="retina-logo" data-dark-logo="https://www.GarageIn.com/images/logo-dark@2x.png"><img src="images/logo%402x.png" alt="Garagein Logo"></a>
</div>

<nav id="primary-menu" class="style-3">
<ul>
<li class="current"><a href="index.html"><div>Home</div></a>
</li>
<li><a href="services.html"><div>Our Services <i class="icon-line-arrow-down hidden-sm hidden-xs"></i></div></a>
<ul>
<li><a href="#"><div><i class="icon-wrench"></i>Car Service</div></a></li>
<li><a href="#"><div><i class="icon-bucket"></i>Dent Paint</div></a></li>
<li><a href="#"><div><i class="icon-printer2"></i>Car Cleaning</div></a></li>
<li><a href="#"><div><i class="icon-vynil"></i>Wheel Care</div></a></li>
<li><a href="#"><div><i class="icon-line-thermometer"></i>AC Service</div></a></li>
<li><a href="#"><div><img src="images/icons/wrapping.png" class="tab-imgicon" style="margin-left:-5px" />Car Wrapping</div></a></li>
<li><a href="services/nano-coating.html"><div><img src="images/icons/coating.png" class="tab-imgicon" style="margin-left:-5px" />Nano Coating</div></a></li>
</ul>
</li>
<li><a target="_blank" href="#"><div>Blog</div></a></li>
<li><a href="#"><div>Partners</div></a></li>


<li>
<a href="#"><div>Refer & Earn</div></a>
</li>
<li><a href="#"><div>Car Granth</div></a></li>
<li><a href="#"><div>More <i class="icon-line-arrow-down hidden-sm hidden-xs"></i></i></div></a>
<ul>
<li><a href="#"><div><i class="icon-line2-users"></i>About Us</div></a></li>
<li><a href="#"><div><i class="icon-chat"></i>Contact Us</div></a></li>
<li><a href="#"><div><i class="icon-line-paper"></i>FAQs</div></a></li>
<li><a href="#"><div>Partners</div></a></li>
<li><a href="#"><div>Corporate</div></a></li>
</ul>
</li>
<li><a href="#" data-backdrop="static" data-keyboard="false" onclick="openLoginModal()" data-toggle="modal" data-target="#myModal"><div>Login</div></a></li>
</ul>

<div ng-controller="cartCtrl" id="top-cart">
<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart cart-icon"></i><span><* $root.CartData.items.length *></span></a>
<div class="top-cart-content">
<div class="top-cart-title">
<h4>Shopping Cart</h4>
</div>
<div class="top-cart-scroll" ng-if="CartData.items.length>0">
<div class="top-cart-items" ng-repeat="(key, value) in CartData.items">
<div class="top-cart-item clearfix">
<div class="top-cart-item-image">
<a href="#"><img ng-if="value.packageId" ng-src="https://www.GarageIn.com/images/services/<* value.packageId *>.png" alt="<* value.packageName *>" /></a>
</div>
<div class="top-cart-item-desc">
<a href="#"><* value.packageName *></a>
<span class="top-cart-item-price">&#x20b9; <* value.totAmount *></span>
<span ng-click="removeFromCart(value)" class="top-cart-item-quantity add-cart-btn">x</span>
</div>
</div>
</div>
</div>
<div class="top-cart-action clearfix" ng-if="$root.CartData.totalAmount > 0">
<div style="margin-bottom:30px;background: #3599e2ed ;color: #ffffff !important; margin-right: 30px; margin-left:-16px; margin-right: -16px; width: -webkit-fill-available;"><a type="button" style="color: #ffffff; width: -webkit-fill-available;" class="cart btn" data-backdrop="static" data-keyboard="false" onclick="openLoginModal()" data-toggle="modal" data-target="#myModal"><span class="label label-success">Login</span></button> to see a lower price & apply <br> GarageIn credits for more discounts</br></div>
<span class="fleft top-checkout-price" style=" margin-top: -33px;">&#x20b9; <* $root.totAmntAfterRedeem *></span>
<a class="button button-3d button-small nomargin fright" style="margin-top: -36px !important;" href="services/index.html">Proceed</a>
</div>
<div class="top-cart-action clearfix" ng-if="$root.CartData.totalAmount == 0">
<span>No Items in Cart</span>
</div>
</div>
</div>
</nav>
</div>
</div>
</header>
<section id="page-title" class="page-title-parallax homeserchbg" data-stellar-background-ratio="0.3">
<div class="container clearfix mainselect">
<h1 class="center"><font color ="white"> PRIVACY POLICY </font></h1>
<form id="widget-subscribe-form2" action="https://www.GarageIn.com/services" role="form" method="get" class="nobottommargin rightmarginbig" novalidate="novalidate" onsubmit="moengageSelectedModel()">

<span id="model_err"></span>
</form>
</div>
</section>
<br/>
<br />

<!-- Nav tabs -->
<!--<div class="w3-row center" >
  <div class="w3-col w3-container l10 m10 ">-->
<div class= "container-fluid ">
<div class = "row center">

<h1>
GarageInn Privacy Policy

</h1>
<small>(Updated: Nov 16, 2019)</small>
<p>
GarageInn has created this Privacy Policy in order to demonstrate our firm commitment to privacy.
This Privacy Policy is hereby incorporated
and by registering for Services, you accept the terms of this Privacy Policy.
All capitalized terms not otherwise defined herein shall have the meanings given them in the Terms of Use.
<br />
<br />
</p>

<p>
The privacy policy is applicable to the websites of GarageIn (“GarageIn”) including www.Garagein.in, which also comprises of the mobile site, applications for iOS, Android(all together referred to as “Site”).

By browsing, visiting, accessing and/or using the services on this site (or searching for any of the pages on this site), you as customer consent and agree to our privacy policy laid out herein. You also agree that the information furnished by you is lawful, true and correct and does not violate or infringe any laws. In case of any violations, infringement, furnishing of wrongful or unauthorized information, GarageIn shall not be liable for the same.

Please note that our privacy policy is subject to change at any time without notice. Therefore, you may periodically review this page to make sure you have the latest version of the privacy policy.

When you access our site, we collect and store your personal information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience and to give you better service. Further, your personal information is used to administer a promotion and contents on the site. Also, to reply to queries of the various authorities in regard to your accessing of the Site and services availed by you.

We use data collection devices such as "cookies" on certain pages of the site to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety. "cookies" are small files placed on your hard drive that assist us in providing our services.

We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your interests. You are always free to decline our cookies if your browser permits, although in that case you may not be able to use certain features on the site. Additionally, you may encounter "cookies" or other similar devices on certain pages of the site that are placed by third parties. We do not control the use of cookies by third parties.

By using the site and/or by providing your information, you consent to the collection and use of the information you disclose on the site in accordance with this privacy policy.

In accordance with Information Technology Act, 2000, if you wish to contact Gaadiz Automotive Private Limited about this privacy policy or privacy related issues via email, you may send an email to info@GarageIn.in
</p>
<br />
</div>
</div>

<!-- Nav tabs end -->


<footer id="footer" class="dark notopborder">
<div class="container">

<div class="footer-widgets-wrap clearfix">
<div class="row clearfix">
<div class="col-md-6">
<div class="widget clearfix">
<div class="row">
<div class="col-xs-4 widget_links">
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="col-xs-4 widget_links">
<ul>
<li><a href="#">Car Service</a></li>
<li><a href="#">Dent Paint</a></li>
<li><a href="#">Car Cleaning</a></li>
<li><a href="#">Wheel Care</a></li>
<li><a href="#">AC Service</a></li>
<li><a href="#">Car Wrapping</a></li>
<li><a href="#">Nano Coating</a></li>
</ul>
</div>
<div class="col-xs-4 widget_links">
<ul>
<li><a target="_blank" href="#">Blog</a></li>
<li><a href="#">Partner With Us</a></li>
<li><a href="#" data-backdrop="static" data-keyboard="false" onclick="openLoginModal()" data-toggle="modal" data-target="#myModal">Login</a></li>
</ul>
</div>
</div>
</div>
<div class="visible-sm bottommargin-sm"></div>
</div>
<div class="visible-sm visible-xs line"></div>
<div class="col-md-6">
<div class="widget subscribe-widget clearfix">
<h4>Stay in touch with us</h4>
<p>Always stay updated with our important offers & deals. <em>We never send spam!</em></p>
<div class="widget-subscribe-form-result"></div>
<form id="subscribe-form" data-submit="subscribe_id" data-url="#" role="form" method="post" class="nobottommargin">
<div style="margin-bottom: -10px;">
<div class="row">
<div class="col-sm-9" style="margin-bottom:10px;">
<input type="email" maxlength="35" class="form-control not-dark required email" placeholder="Enter your Email" value="" id="subscribe_id" data-validation="email " data-validation-error-msg="Please enter the valid email">
<span id="subscribe_id_success" class="label label-success"></span>
</div>
<div class="col-sm-3" style="margin-bottom:10px;">
<button class="btn btn-block btn-success" type="submit">Send Me Offers</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="line"></div>
<div class="row clearfix">
<div class="col-md-7 col-sm-6">
<div class="widget clearfix">
<div class="clear-bottommargin-sm">
<div class="row clearfix">
<div class="col-md-6">
<div class="footer-big-contacts">
<span>Call Us:</span>
+91-8648008002
</div>
<div class="visible-sm visible-xs bottommargin-sm"></div>
</div>
<div class="col-md-6">
<div class="footer-big-contacts">
<span>Mail Us: info@GarageIn.in</span>
<span class="__cf_email__" data-cfemail="#">info@GarageIn.in</span>
</div>
<div class="visible-xs bottommargin-sm"></div>
</div>
</div>
</div>
</div>
<div class="visible-sm visible-xs bottommargin-sm"></div>
</div>
<div class="col-md-5 col-sm-6">
<div class="clearfix" data-class-lg="fright" data-class-md="fright" data-class-sm="fright" data-class-xs="" data-class-xxs="">
<a target="_blank" href="#" class="social-icon si-rounded si-small si-colored si-facebook">
<i class="icon-facebook"></i>
<i class="icon-facebook"></i>
</a>
<a target="_blank" href="#" class="social-icon si-rounded si-small si-colored si-twitter">
<i class="icon-twitter"></i>
<i class="icon-twitter"></i>
</a>
<a target="_blank" href="#" class="social-icon si-rounded si-small si-colored si-gplus">
<i class="icon-gplus"></i>
<i class="icon-gplus"></i>
</a>
<a target="_blank" href="#" class="social-icon si-rounded si-small si-colored si-youtube">
<i class="icon-youtube-play"></i>
<i class="icon-youtube-play"></i>
</a>
<a target="_blank" href="#" class="social-icon si-rounded si-small si-colored si-linkedin">
<i class="icon-linkedin"></i>
<i class="icon-linkedin"></i>
 </a>
</div>
</div>
</div>
</div>
</div>

<div id="copyrights">
<div class="container clearfix">
<div class="col_half">
Copyrights &copy; 2019 All Rights Reserved by GarageIn
</div>
<div class="col_half col_last tright">
<div class="copyright-links fright"><a target="_blank" href="#">Terms of Use</a> / <a target="_blank" href="privacy_policy.html">Privacy Policy</a>/ <a target="_blank" href="#">Refund Policy</a></div>
</div>
</div>
</div>
</footer>
</div>

<div class="modal fade  " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
<div class="loginmodal modal-dialog">
<div class="modal-body">
<div class="modal-content">
<div class="modal-header">
<a href="javascript:void(0)" id="login_reg_back" onclick="fromOtpToBack()" style="display:none;" class="fleft"><i class="icon-line-arrow-left"></i></a>
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide(),">&times;</button>
<h4 class="modal-title center" id="myModalLabel"> LOGIN</h4>
</div>
<div class="modal-body center">
<div id="login_regi_c_id">
<form id="login-form" name="login-form" class="nobottommargin" data-url="#" method="post" style="">
<span id="login_err_container" class="error"></span>
<div class="input-group bottommargin-xs">
<span class="input-group-addon"><i class="icon-phone2"></i></span>
<input type="hidden" name="csrf" id="login_token" value="d1qzaqEgEzhqqvGcPOAOTncviYvwwPjwXV5B4YZm" />
<input type="tel" onkeypress='return validateTel(event);' id="login-form-mobile" name="loginMobile" value="" data-validation="number length" maxlength="10" data-validation-length="10-10" onsubmit="return false;" data-validation-error-msg="Please enter the Valid Mobile Number" class="form-control not-dark" placeholder="Mobile Number" data-validation-error-msg-container="#login_err_container" />
<input type="hidden" name="dataFrom" value="login" />
</div>
<div class="col_full nobottommargin">
<button class="button button-3d button-green nomargin" id="login-form-submit" name="login-form-submit" value="login">Generate OTP</button>
</div>
<span>By logging in I accept <a href="#" target="_blank">Terms of Use</a></span>
</form>
<form id="register-form" name="register-form" class="nobottommargin" data-url="#" onsubmit="return false" method="post" style="display: none">
<input type="hidden" name="csrf" id="register-form-token" value="d1qzaqEgEzhqqvGcPOAOTncviYvwwPjwXV5B4YZm" />
<span id="rg_err_container"></span>
<div class="input-group bottommargin-xs">
<span class="input-group-addon"><i class="icon-user2"></i></span>
<input type="text" id="register-form-name" name="registerName" value="" class="form-control" maxlength="20" data-validation="required" data-validation-error-msg="Please enter the Name" data-validation-error-msg-container="#rg_err_container" data-validation-skipped="1" placeholder="Name">
</div>
<div class="input-group bottommargin-xs">
<span class="input-group-addon"><i class="icon-line-mail"></i></span>
<input type="email" id="register-form-email" name="registerEmail" value="" class="form-control" maxlength="60" data-validation="email" data-validation-error-msg="Please enter the Valid Email" data-validation-error-msg-container="#rg_err_container" data-validation-skipped="1" placeholder="Email ID">
</div>
<div class="input-group bottommargin-xs">
<span class="input-group-addon"><i class="icon-phone2"></i></span>
<input type="tel" onkeypress='return validateTel(event);' id="register-form-mobile" name="registerMobile" maxlength="10" value="" data-validation="number " data-validation-length="10-10" data-validation-error-msg="Please enter the Valid Mobile Number" data-validation-error-msg-container="#rg_err_container" data-validation-skipped="1" class="form-control" placeholder="Mobile Number" />
</div>
<div class="input-group bottommargin-xs">
<span class="input-group-addon"><i class="icon-users"></i></span>
<input type="text" id="register-form-referal-code" name="registerReferalCode" value="" class="form-control" placeholder="Referal Code" />
</div>
<div class="col_full nobottommargin">
<input type="hidden" name="dataFrom" value="register" />
<button class="button button-3d button-green nomargin" id="register-form-submit" name="register-form-submit" value="register">Generate OTP</button>
</div>
<span>By registering I accept <a href="#" target="_blank">Terms of Use</a></span>
</form>
<div class="line line-sm"></div>
<h3 class="center "><a href="#" id="LoginOrREgId" onclick="LoginOrREg(this)">New User! Register Here</a></h3>
</div>
<div style="display: none;" id="timer_content">
<form id="otp-form" name="otp-form" class="nobottommargin" data-url="https://www.GarageIn.com/login/otpsubmit" method="post">
<div class="col_full">

<div class="item html" id="timer_id">
<h2 id="otp_timer">0</h2>
<svg class="svgcircle" width="160" height="160" xmlns="https://www.w3.org/2000/svg">
<g>
<title>Layer 1</title>
<circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none" />
</g>
</svg>
</div>

<div class="col_full nobottommargin">
<button class="button button-3d button-blue nomargin " style=" display:none;  " id="resend_otp" name="login-form-submit" type="button" onclick="resendOtp('login/resendotp.json')">Resend OTP</button>
</div>
<label for="login-form-otp">Enter OTP Number</label>
<input type="tel" onkeypress='return validateTel(event);' id="login-form-otp" name="otp" value="" data-validation="number" maxlength="4" data-validation-length="4-4" data-validation-error-msg="Please enter the valid otp number" class="form-control not-dark" />
<input type="hidden" name="csrf" id="otp_token" value="d1qzaqEgEzhqqvGcPOAOTncviYvwwPjwXV5B4YZm" />
<input type="hidden" name="currenturl" value="" />
</div>
<div class="col_full nobottommargin">
<button class="button button-3d button-blue nomargin" id="login-form-submit" name="login-form-submit" value="login">Submit OTP</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade " id="already_reg_modal" role="dialog" style="">
<div class="modal-dialog modal-sm">
<input type="hidden" value="#" id="already_login_url" />

<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" onclick="$('#already_reg_modal').hide()" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Already Registered</h4>
</div>
<input type="hidden" id="social_login_url" value="login/update_social_login.html" />
<input type="hidden" id="social_login_token" value="d1qzaqEgEzhqqvGcPOAOTncviYvwwPjwXV5B4YZm" />
<div class="modal-body" id="already_modal_content">
<b>Account already registered with below details</b>
</div>
</div>
</div>
</div>
</div>

<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="js/plugins.min.js"></script>
<script type="text/javascript" src="js/angular.js"></script>

<script type="text/javascript" src="js/functions.min.js"></script>
<script type="text/javascript" src="core/js/core_validation.min.js"></script>
<script>
		var validateReferalCode;
		var cartUrl="cart.json";
		var cartAddUrl="index.html";
		var cartRemoveUrl="index.html";
		var cartRemoveAllUrl="cart/removeall.json";
		var brandModelUrl="home/brand_model.json";
		var redeemYesUrl="login/redeemyes.html";
		var referEarnStart=0;
					var currentModelId=0;
				var reddemYes=false;
		//For Refe&earn
		
	</script>
<script type="text/javascript" src="core/js/common.js"></script>

<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5af2a53964afa14e"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<script type="text/javascript" src="js/components/select-boxes.js"></script>
<script type="text/javascript">
var brandModelUrl="home/brand_model.json";
</script>
<script type="text/javascript" src="core/js/home.min.js"></script>
<script type="text/javascript" src="core/js/login_register.js"></script>
<script type="text/javascript">
$(document).ready(function(){
const observer = lozad(); // lazy loads elements with default selector as '.lozad'
observer.observe();
});
</script>

<script>
$(document).ready(function(){
  $(".owl-carousel").owlCarousel();
});
</script>
<!-- Car election script -->
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   

</body>

